body {
  font-family: sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 70%;
  padding: 10px;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
